mixin recruiterMessage(val)
  p= 'id: ' + val.id
  p= 'Company Name: ' + val.company_name
  p= 'Office Location: ' + val.office_location
  p= 'Company Website: ' + val.company_website
  p= 'Job Title: ' + val.job_title
  p= 'Annual Bonus: ' + val.annual_bonus
  p= 'Retirement Percentage: ' + val.retirement_percent
  p= 'Vacation Days: ' + val.vacation_days
  p= 'Telecommute Days: ' + val.telecommute_days
  p= 'Health Insurance: ' + val.health_insurance
  p= 'Browser Side: ' + val.browser_side
  p= 'Server Side: ' + val.server_side
  p= 'Databases: ' + val.databases
  p= 'Manager Name: ' + val.manager_name
  p= 'Manager Title: ' + val.manager_title
  p= 'Number of Subordinates: ' + val.number_subordinates
  p= 'Job Description: ' + val.job_description
  p= 'Recruiter Name: ' + val.recruiter_name
  p= 'Recruiter Email: ' + val.recruiter_email
  p= 'Submit Date: ' + val.submit_date
  br
